.rcw-conversation-container > .rcw-header {
  background-color: #fefaf6;
}

.rcw-conversation-container .rcw-header {
  color: #6b6768;
}

.subtitleText {
  font-size: 1.9rem;
  color: black;
}

.subText {
  font-size: 12px;
}
