.rcw-conversation-container > .rcw-header {
  background-color: #fefaf6;
}

.rcw-conversation-container .rcw-header {
  color: #6b6768;
}

.subtitleText {
  font-size: 2rem;
  color: black;
  margin: 0;
}
