.rcw-conversation-container > .rcw-header {
  background-color: #fefaf6;
}

.rcw-conversation-container .rcw-header {
  color: #6b6768;
}

.subtitleText {
  font-size: 2rem;
  color: black;
}

.subText {
  font-size: 12px;
}

.rcw-picker-icon {
  margin-right: 1rem;
  padding-bottom: 0.5rem;
}

.rcw-send-icon {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.rcw-open-launcher {
  margin-left: 0.8rem;
}

.rcw-close-launcher {
  margin-left: 1.2rem;
}

.rcw-close {
  margin-left: 0.6rem;
}

.quick-buttons-container {
  margin-bottom: 1rem;
}
